
.container { /*Vi har använt oss av en column i vår grid*/
    display: grid; 
    grid-template-columns: 1fr; /* en kolumn*/
    grid-template-rows: auto auto auto auto; /* 4 rows*/
    grid-template-areas: /*hänvisningsnamn*/
    "nav"
    "header"
    "main"
    "footer";
}


html{
    scroll-behavior: smooth; /*För att få en mjuk skrollning när man trycker på pilen*/
}

p{ /*Typsnitt och stil för brödtext*/
    font-family: "noto sans";
    font-size: 1.1vw; /*Storlek definierad i view width för att vara skalenlig när skärmstorleken ändras*/
}

h1{ /*Typsnitt och stil för rubrik 1*/
    font-family: "pt sans narrow";
    font-weight: 400;
    font-size: 1.7vw;
}

h2{ /*Typsnitt och stil för rubrik 2*/
    font-family: "pt sans narrow";
    font-weight: 400;
    font-size: 1.7vw;
    color: white;

}

.pt-sans narrow-regular { /* rubrik typsnitt från google fonts*/
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.noto-sans <uniquifier> { /*brödtext typsnitt från google fonts*/
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:normal;
      "width" 100;
  } 


  /* står parsningsfel på rad 46 när man validerar?? vad är problemet*/
  

body{
    background-image: url(bakgrund.png); /*bakgrundsbild*/
    background-repeat: no-repeat; /*EN bild*/
    background-size: cover; /*bilden täcker hela*/
    overflow-x: hidden; /* gör att naven är hela vägen till toppen*/

}

nav {
grid-area: nav; /*längst upp i grid*/
background-color: #F6E6E0;
border-radius: 20px; /*Göra hörnen på naven runda*/
width: 63.1%; /*Definiera bredd på naven för korrekt linjering*/
margin-left: 18%;
margin-right: 18%;
position: fixed; /*Gör att naven hänger med när man skrollar*/
max-width: 2000px; /*Definierad max-bredd för att hemsidan ska se bra ut på väldigt stora skärmar*/


}

nav li {
    display: inline-block; /*gör att naven ligger "i rad" från höger till vänster */
    padding: 1%;
}

nav a { /*länkar i nav*/
    text-decoration: none;
    color: black;
    font-family: "pt sans narrow";
    font-size: 1.3vw;
}

nav a:hover{ /* hover på länkar i nav*/
    color: #858760;
}


header {
grid-area: header;
text-align: center;
padding-top: 12%;
padding-bottom: 10%;
max-width: 2000px; /*Definierad max-bredd för att hemsidan ska se bra ut på väldigt stora skärmar*/
}

header p {
    
    padding-bottom: 7%;
    font-size: 2vw;
    font-family: "pt sans narrow";
    color: white;
}

.logotyp{
    width: 66%; /*Definiera bredd på logotypen för korrekt linjering*/
    margin-top: 3%;
    margin-left: 0.5%; /*Finjustering för korrekt linjering*/
}

.pil{ /*pil på startsidan*/
    width: 4%;
}

main { /*plaverar main i grid*/
    grid-area: main;
    max-width: 2000px; /*Definierad max-bredd för att hemsidan ska se bra ut på väldigt stora skärmar*/
}

.textbox {  /* rosa box på index-sidan*/
    background-color: #F6E6E0;
    padding: 5%;
    padding-top: 3%;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    text-align: left;
    
}

.textbox p { /*text i rosa box på index-sidan*/
    margin-bottom: 5%;
}

.button { /* reservera-knapp på index-sidan*/
    background-color: #858760;
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: "pt sans narrow";
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover{
background-color: #283f25;
}

.button2 { /*sparaknapp på biljett-sidan*/

    background-color: #858760;
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    font-size: 1.3vw;
    margin-top: 10%;
    font-family: "pt sans narrow";
}

.button2 a{ /*Text för sparaknapp på biljett-sidan*/
    text-decoration: none;
    color: white;
}

.button2:hover{
    background-color: #283f25;
}


.characters{ /*bild på startsida*/
    float: right;
    width: 40%;
    margin-top: -20%;
}

.characters2{ /*bild på kontaktsida*/
    float: right;
    width: 30%;
    margin-top: -10%;
    margin-right: 7%;
}


.handling{ /* class för textruta på index-sidan */
    text-align: left;
    margin: 10%;
    margin-top: 28%;
    margin-left: 18%;
    margin-right: 18%;
}

.filmbeskrivning{ /* class för textruta på index-sidan */

    margin-top: 4%;
    color: white;
    font-family: "noto sans";
    text-align: left;
    font-size: 1.1vw;
}

.video /* styling för trailer */
{
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;
}

#trailertext{ /* titel över trailern */
    text-align: left;
    padding-left: 18%;
}

.recensioner{ /* på index-sidan*/
    color: white;
    display: flex;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 10%;
}

.recension1{ /*styling för recension ett på indexsidan*/
    border: 1px solid white;
    padding: 4%;
    padding-bottom: 2%;
}
.recension2{ /*styling för recension ett på indexsidan*/
    border: 1px solid white;
    border-left: 0px;
    padding: 4%;
    padding-bottom: 2%;
}

.text1{ /*brödtext i recensioner*/
    font-size: 1.1vw;

}

footer{
    grid-area: footer;
    background-color: #E8DFA1;
    text-align: center;
    padding: 0.5%;
    font-family: "pt sans narrow";
    font-size: 1.3vw;
    padding-top: 2%;
    width: 100%;
    margin: -1%;  /* för att få footern ända ut i kanten */
    padding-bottom: 2%;
}

footer a{
text-decoration: none;
color: black; 
}


footer a:hover{
    color: #696b42;
}

.biljettfooter{ /* styling för textfootern på biljettsidan */
    text-align: center;
    color: black;
    font-family: "noto sans";
    font-size: 1.1vw;
    margin-top: -3.8%;
}

.kontaktfooter{ /* styling för textfootern på kontaktsidan */
    text-align: center;
    color: black;
    font-family: "noto sans";
    font-size: 1.1vw;
    margin-top: -5%;
    
}

.tackfooter{ /* styling för textfootern på kontaktsidan */
    text-align: center;
    color: black;
    font-family: "noto sans";
    font-size: 1.1vw;
    margin-top: 4.4%;

    
}

#reserveratext{  /*underrubrik på biljettsidan*/
    font-family: "noto sans";
    font-size: 1.1vw;
    color: black;
    margin-top: 2%;
    letter-spacing: 0;
    text-align: left;

}

.textboxbiljett{ /*rosa box på biljettsidan*/

    background-color: #F6E6E0;
    margin-left: 18%;
    margin-right: 18%;
    padding: 5%;
    padding-top: 3%;
    text-align: left;
}

.textboxkontakt{ /*rosa box på kontaktsidan*/
    background-color: #F6E6E0;
    padding: 2%;
    padding-bottom: 25%;
    margin-left: 18%;
    margin-right: 18%;
    text-align: center;
}

.textboxtack{ /*rosa box på tacksidan*/
    background-color: #F6E6E0;
    padding: 2%;
    margin: 10%;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: -2%;
    text-align: center;
}

.textboxtack p { /* styling för brödtext i rosa box på tacksidan */
    color: black;
    letter-spacing: 0;
    font-family: "noto sans", sans-serif;
    font-size: 1.1vw;
}
.textboxtack h1 { /* styling för titel i rosa box på tacksidan */
    color: black;
    font-family: "pt sans narrow";
    margin-bottom: 5%;

}

form { /*namn och e-post fritext - rutor */
    font-family: "noto sans";
    font-size: 1.1vw;
    margin-top: -5%;
    text-align: left;
}
 
#hiddenText { /* antal hidden text*/

    display: none; /* Döljer texten som standard */
    font-family: "noto sans";

}

#hiddenText2 {/* datum hidden text*/

   display: none; /* Döljer texten som standard */
   font-family: "noto sans";

}

input[type=text]{
    padding: 1%;
    width: 45%;
}

select{ /* styling knappar för välj tid och antal*/
    padding: 1%;
    width: 22.5%;
    font-size: 1.1vw;
    font-family: "Noto Sans";
    background-color: #ffc5a8;
    font-family: "Noto Sans";
    margin-top: 3%;
    margin-right: 2%;
    margin-bottom: 8%;
}


    .help{ /*rubrik på kontaktsida */

        float: left;
        margin-left: 8%;
        font-size: 1.7vw;
        color: black;
        margin-top: 10%;
        }
        
        .help2{ /*brödtext på kontaktsida */
            font-family: "noto sans";
            float: left;
            text-align: left;
            margin-left: 5%;
            position: absolute;
            font-size: 1.1vw;
            margin-top: 10%;
            color: black;
            letter-spacing: 0;
        }
        
        .kontaktbild{ /* karaktärsbilder på kontaktsidan */
            width: 25%;
            float: right;
            margin-right: 13%;
        }

        .help2 a { /*länken i mailto*/
            color: #858760;
            text-decoration: none;
        text-decoration: none;
        }
    
        .affisch{ /* bild på biljettsidan */
            float: right;
            width: 33%;
            margin-top: 2.5%;
        }
        